# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




 <Box
              sx={{
                width: 700,
                gap: "10px",
                rowGap: "100px",
                columnGap: "100px",
                maxWidth: "100%",
              }}
            >
              <TextField
                fullWidth
                label="User Name"
                id="fullWidth"
                variant="standard"
                disabled
              />

              <TextField
                fullWidth
                label="User Name"
                id="fullWidth"
                variant="standard"
                disabled
              />

              <TextField
                fullWidth
                label="User Name"
                id="fullWidth"
                variant="standard"
                disabled
              />

              <TextField
                fullWidth
                label="User Name"
                id="fullWidth"
                variant="standard"
                disabled
              />
            </Box>