.login {
  /* height: 100vb; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerbox {
  height: 100vh;
  width: 75vw;
  display: flex;
  border-radius: 4%;
}
.img {
  object-fit: cover;
}
